body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}
.header{
    position: fixed;
    z-index: 2;
    height: 3.2rem;
    left: 0;
    top: 0;
    right: 0;
    padding: 15px 20px;
    background-color: rgb(27, 27, 27);
    display:flex;
    justify-content: space-between;/* Logra gracias a flex, uno a la izquierda y otro a la derecha*/
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-footer{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 50%;
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    }
.menu ul li{
    margin:5px;
    display: inline-block;
    }

.olaje-footer{
    font-size: 3rem;
    position: absolute;
    top:0;
}

.border-logo{
    color:white;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    1px 1px 0 black,
    -1px 1px 0 black;
}


.olaje{
    font-size: 3rem;
    position: absolute;
    top:0;
    left:20px;
}

.border-logo{
    color:white;
    text-shadow: -1px -1px 0 rgb(27, 27, 27),
    1px -1px 0 rgb(27, 27, 27),
    1px 1px 0 rgb(27, 27, 27),
    -1px 1px 0 rgb(27, 27, 27);
}
.wave-logo{
    color:#09f;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave{
    0%, 100%{
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

main{
    height: 100%;
    margin:0;
    padding-top: 3.2rem;
    padding-bottom: 5rem;
    width: 100%;
}

/*.container{
    width: 90%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
#map { 
    z-index: 1;
    height: 480px;
}

#navFooter {
    font-size: 25px; 
    text-align: center;
    margin-top: 20px;
    
}
#navFooter a{
    text-decoration: none;
    color: #f4f4f4; 
}
footer{
    height:10rem;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px 20px;
    background-color: black;
    display:flex;
    justify-content: space-between;/* Logra gracias a flex, uno a la izquierda y otro a la derecha*/
    align-items: center;
    flex-wrap: wrap;
}